---
layout: base.njk
title: Academic
css_file: academic.css
nav_icon: graduation-cap
nav_title: Academic
---

<section>
    <h2>Leadership</h2>
    <div class="experience"><span class="project-title">NOVA</span><br><small>SGA Senator, Desi Club President, SPS Secretary, Coding Club Treasurer (2023–2024)</small></div>
    <div class="experience"><span class="project-title">Virginia Tech</span><br><small>HY Marketing Chair, Research Assistant, Swim Club Member (2024–Present)</small></div>
</section>

<section>
    <h2>Awards and Honors</h2>
    <div class="experience"><span class="project-title">Academic Honors</span><br><small>W.T. Woodson HS Honors Grad, NOVA Dean's List, VT Dean's List, NOVA Presidential Award</small></div>
    <div class="experience"><span class="project-title">Competitions</span><br><small>VA State Champion – SkillsUSA Programming 2023; 4th place Nationally</small></div>
    <div class="experience"><span class="project-title">Public Speaking</span><br><small>Sines Institute "Uncommon Table" Speaker</small></div>
</section>

<section>
    <h2>Research</h2>
    <div class="experience"><span class="project-title">ETD Research in Knowledge Graphs</span><br><small>Debugged ML codebases, prepped data, and configured servers<br>Skills: Debugging, Batching, ML, Server Setup<br>References: Dr. Edward Fox, Satvik Checkuri</small></div>
</section> 